<link rel="stylesheet" href="styles.css" />

<div class="card-container">
  <div class="card-box">
    <!-- Front Context (Repeated here to keep context visibility) -->
    <div class="card-header">
      <b>{{Front}}</b>
    </div>
    <div class="example-text">{{Example}}</div>

    <!-- Back Content -->
    <div class="card-back-content">
      <div class="meaning">
        <div class="word-meaning">{{Back}}</div>
        <div>{{Example-translate}}</div>
      </div>
    </div>
  </div>
</div>
